@import url('https://fonts.googleapis.com/css?family=Cabin|Lora|Pacifico&display=swap');
$texto: 'Lora', serif;
$titulo:'Cabin', sans-serif;
$cursivas: 'Pacifico', cursive;
$font_sizes: .5em, 1em, 1.5em, 2em, 2.5em;
.texto-default {
    font-family: $texto;
}
.titulo-default {
    font-family: $titulo;
}
.cusivas-default {
    font-family: $cursivas;
}
$i: 0;
@each $size in $font_sizes{
    .texto-#{$i}{
        font-family: $texto;
        font-size: $size; 
    }
    .titulo-#{$i}{
        font-family: $titulo;
        font-size: $size;
    }
    .cursivas-#{$i}{
        font-family: $cursivas;
        font-size: $size;
    }
    $i: $i + 1;
}

//Texto justificado
.justify {
    text-align: justify;
}